<div class="row mt-5">
    <!-- {{currentUser|json}} -->
    <div class="col-md-4 mb-3" *ngFor="let event of sevents">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">{{event.price}}</p>
                <a (click)='goToEdit(event._id)' class="btn btn-success">Update</a>
                <a (click)="deleteCountry(event._id)" class="btn btn-success">Delete</a>
            </div>
            <div class="card-footer text-muted">
                {{event.createdAt | date:'shortDate'}}
            </div>
        </div>
    </div>
</div>